@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url('br.jpeg');
    background-size: auto; 
    background-position: center; /* Center the background image */
    background-repeat: none;
    font: yellowgreen;   /* Repeat the image along the vertical axis */
}

