@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url('/br.jpeg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: none;   /* Repeat the image along the vertical axis */
}

font {
    font-family: 'Roboto', sans-serif;
    color: skyblue;
}