@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url('/blockchaindots.jpeg');
    background-size: auto; 
    background-position: center; /* Center the background image */
    background-repeat: none;
}

